# Node
node_modules/
**/node_modules/

# Build outputs
**/dist/
**/build/
**/.cache/
**/.vite/

# Env file
.env
**/.env
**/.env.*

# Logs
**/logs/
*.log

# OS junk
.DS_Store
Thumbs.db

# Coverage
coverage/
**/coverage/
